{% load static%}
<style>
    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }
    
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }
    
    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }
    
    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
    
    /* Float the link section to the right */
    .header-right {
      float: right;
    }
    
    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    </style>
    <body style="background-color:pink;">
    <div class="header" style="background-color:red;">
      <a class="logo" style="color:white">Farm Produce - Fresh and Rotten Classification</a>
      <div class="header-right">
        <a class="active btn btn-light" href="/" style="margin-right:10px;border-radius:15px;">Upload new Image</a>
        <a class="active btn btn-light" href="aboutAlgorithm" style="border-radius:15px;">About the Algorithm</a>
      </div>
    </div>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <form method="post" enctype="multipart/form-data" action="predictImage">
    <br>
    <br>
    <br>
    {% csrf_token %}
    <div style="margin: auto;width: 50%;padding: 100px;text-align:center;background-color: #FF0000;border-radius: 25px;">
    <div class="col-md-4 col-sm-4" style:"text-align:center">
    </div> 
      <h3 style="color:white">Upload file here : </h3>
      <br>
      <input class="btn btn-light" name="filePath" type="file" style="border-radius: 15px;margin-right:10px;">
      <input class="btn btn-light" type="submit" value="Submit" style="padding:9px;margin:auto;border-radius: 15px;">
    </div>
    
    <br>
    <br>
    <br>
    <p>{{filePath}}</p>
    <p>{{MEDIA_URL}}</p>
    <h2 style="text-align:center">Uploaded Image is classified as {{prediction}}</h2>
    <div style="margin: auto;padding: 100px;text-align:center;border-radius: 25px;">
    <img src="{{MEDIA_URL}} {{filePath}}" alt='imagename'>
    </div>
  </form>
    </body>